{% extends 'base.html' %}

{% block body %}
<p>
    <a href="/entry" style="color:#FFFFFF;">HOME</a>
</p>
<h2>{{ the_title }}</h2>
<img src="http://www.ic.uma.es/repository/fileDownloader?rfname=45fc94c0-29b0-474c-b333-a6473ced322f.jpg"
         alt= "Imagen Personal"
         width="200"
         height="250">
<p>Aquí puedes encontrar un poco de información sobre mi:</p>
<p> Nombre: Sergio Guillén Jiménez</p>
<p> Edad: 24 años</p>
<p> Biografía: Actualmente me encuentro cursando mi segundo año en el <a href="https://www.uma.es/master-universitario-en-ingenieria-de-telecomunicacion">Máster de Ingeniería de Telecomunicación</a> en la Universidad de Málaga. Al mismo tiempo,
               estoy como Personal Investigador (PDI) en el <a href="http://www.ic.uma.es/">Departamento de Ingeniería de Comunicaciones (IC)</a>, más concretamente en el <a href="https://www.uma.es/atic/">Grupo de Investigación de Aplicación de las Tecnologías de la Información y Comunicaciones (ATIC)</a>. </p>
<p> Si quieres saber más sobre mí, aquí te dejo mi correo electrónico por si quisieras contactar conmigo.</p>
<p> <a href="mailto:sergiogj98@uma.es?Subject=Interesado%20en%20la%20WebApp">Escribir correo electrónico</a> </p>
{% endblock %}
