{% extends 'base.html' %}


{% block body %}
<p>
    <a href="/entry" style="color:#FFFFFF;">HOME</a>
    <a href="/contact" style="color:#FFFFFF;">CONTACT</a>
</p>
<h2>{{ the_title }}</h2>
    <p>Hora actual del sistema:  {{hora}}</p>
    <p>Seleccione una de las siguientes opciones:
    <form method="post" action="/new">
    <p><input value="Crear Usuario" type="SUBMIT"></p>
    </form>

    <form method="post" action="/login">
    <p><input value="Log In" type="SUBMIT"></p>
    </form>

    <form method="post" action="/anonimous">
    <p><input value="Anónimo" type="SUBMIT"></p>
    </form>

    <form method="post" action="/statistics">
    <p><input value="Estadísticas" type="SUBMIT"></p>
    </form>


    <img src="/static/Welcome.png"
         alt= "Imagen de Bienvenida a la página Web"
         width="400"
         height="250">
{% endblock %}