{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method="post" action="/identificado">
    <table>
        <p>
            Por favor, introduzca su usuario y contraseña para continuar:
        </p>
        <tr><td>Usuario:</td><td><input name="usuario" type="TEXT" width="60"></td></tr>
        <tr><td>Contraseña:</td><td><input name="contraseña" type="TEXT" width="60"></td></tr>
    </table>
    <p><input value="INICIAR SESION" type="SUBMIT"></p>
    </form>

<p>Por favor, introduzca su usuario y contraseña para continuar:</p>
{% endblock %}


