{% extends 'base.html' %}

{% block body %}
<p>
    <a href="/entry" style="color:#FFFFFF;">HOME</a>
    <a href="/contact" style="color:#FFFFFF;">CONTACT</a>
</p>
<h2>{{ the_title }}</h2>

<p>Has introducido los siguientes parámetros:</p>
<table>
    <tr><td>Frase:</td><td>{{ the_phrase }}</td></tr>
    <tr><td>Letras:</td><td>{{ the_letters }}</td></tr>
</table>

<p>Cuando se busca en "{{ the_phrase }}" las letras "{{ the_letters }}",
    se obtienen los siguientes resultados:</p>
<h3>{{ the_results }}</h3>

{% endblock %}
